
body{
    margin: 0px;
    background-color: azure;
    font-family: serif;

}

body div{
    background-color:#84A7A1;


}
body,h1{
    color: azure;
  }
  .head{
      background-color:#1F6E8C;
      padding:10px;
      text-align: center;
      margin-top: 0px;
      height:115px;
      
  }
  .head h1{
    margin-top: 35px;
  }
  .head img{
    float:left;
    width:120px;
}
